


// Fade up
@keyframes fade-up{
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

// fade
@keyframes fade-background{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.4;
    }
}

// fade
@keyframes fade-main-background{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.2;
    }
}

// fade
@keyframes scale{
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}