@import "./elements.scss";
@import "./responsive.scss";
@import "./animations.scss";
// Responsive




$background: #110920;
$text-light: white;
$main-color: #03c1ef;
$hover-text-light: #a79dff;

// Hover
$background-hover: #ffffff0d;